<div class="container-index">
  <h4>Trouve ton commerçant</h4>
  <div>
    <%= form_tag shops_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-search",
        placeholder: "Traiteur, boulangerie..."
      %>
      <%= submit_tag "Go !", class: "btn btn-secondary btn-home-search" %>
    <% end %>
  </div>
</div>

<div class="container-infos"><br>
  <% if params[:query].present? %>
    <h4><strong><span id="important"><%= @shops.count %></span></strong> <%= params[:query] %>(s) à proximité</h4>
  <% else %>
    <h4><strong><span id="important"><%= @shops.count %></span></strong> commerce(s) à proximité</h4>
  <% end %>
</div>

<div class="index-shops">

    <% @shops.each do |shop| %>
      <%= link_to shop_path(shop.id) do %>
        <div class="card shop-card">
          <%= cl_image_tag shop.photo.key, class: "card-img-top" %>
          <div class="shop-info">
            <h4 id="shop-name"> <%= shop.name %> </h4>
            <p class="shop-description"><%= shop.description %></p>
            <p class="btn btn-ghost"><%= shop.category.gsub(/_/,' ') %></p>
            <% if shop.slot_hours.where(day_of_the_week: "Lundi").count == 1 %>
              <p>
                <%= shop.slot_hours.where(day_of_the_week: "Lundi")[0].day_of_the_week %> :
                <%= shop.slot_hours.where(day_of_the_week: "Lundi")[0].opening_hour %>h -
                <%= shop.slot_hours.where(day_of_the_week: "Lundi")[0].closing_hour %>h
              </p>
            <% elsif shop.slot_hours.where(day_of_the_week: "Lundi").count == 2 %>
              <%= shop.slot_hours.where(day_of_the_week: "Lundi")[0].day_of_the_week %> :
              <% shop.slot_hours.where(day_of_the_week: "Lundi").each do |hour| %>
                <%= hour.opening_hour %>h -
                <%= hour.closing_hour %>h
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>

<!--------------------- ASTUCE FOOTER --------------------->
<div class="content-wrapper-index">
</div>
