<nav class="navbar-nav nav-index fixed-top">
  <div class="nav-items-index d-flex">
      <%# <a class="fleche-retour" href="/"><strong>←</strong></a> %>
      <%= link_to root_path do %>
        <%= image_tag "left-arrow.png", class: "fleche-retour" %>
        <%= image_tag "REMPIL-couleur.png", class: "logo-nav" %>
      <% end %>
  </div>
</nav>

<div class="container-index">
  <h4>Trouve ton commerçant</h4>
  <div>
    <%= form_tag shops_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-search",
        placeholder: "Traiteur, boulangerie..."
      %>
      <%= submit_tag "Go !", class: "btn btn-secondary btn-home-search" %>
    <% end %>
  </div>
</div>

<div class="container-infos"><br>
  <% if params[:query].present? %>
    <h4><strong><span id="important"><%= @shops.count %></span></strong> <%= params[:query] %>(s) à proximité</h4>
  <% else %>
    <h4><strong><span id="important"><%= @shops.count %></span></strong> commerce(s) à proximité</h4>
  <% end %>
</div>

<div class="index-shops">
    <% @shops.each do |shop| %>
      <%= link_to shop_path(shop.id) do %>
        <div class="card shop-card style="width: 24.3rem;"">
          <%= cl_image_tag shop.photo.key, class: "card-img-top", height: "210px" %>
          <div class="d-flex justify-content-between shop-info">
            <h4 id="shop-name"> <%= shop.name %></h4>
            <span style="decoration: none; color: #ffd700; font-size: 18px"> <%= icon('fas','star') %> <%= shop.average_rate %></span>
          </div>
          <div class="shops-category">
            <p class="category"><%= shop.category.gsub(/_/,' ') %></p>
          </div>
          <p class="shop-description"><%= shop.description %></p>
      <% end %>

<div class="accordion" id="accordionExample">

    <div class="horaire-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-horaire text-left" type="button" data-toggle="collapse" data-target="#collapseOne<%= shop.id %>" aria-expanded="true" aria-controls="collapseOne">
          Horaires ▾
        </button>
      </h2>
    </div>

    <div id="collapseOne<%= shop.id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="horaire-body">

        <% if shop.slot_hours.where(day_of_the_week: "Lundi").count == 1 %>
          <p>
            <%= shop.slot_hours.where(day_of_the_week: "Lundi")[0].day_of_the_week %> :
            <%= shop.slot_hours.where(day_of_the_week: "Lundi")[0].opening_hour %>h -
            <%= shop.slot_hours.where(day_of_the_week: "Lundi")[0].closing_hour %>h
          </p>
        <% elsif shop.slot_hours.where(day_of_the_week: "Lundi").count == 2 %>
          <%= shop.slot_hours.where(day_of_the_week: "Lundi")[0].day_of_the_week %> :
          <% shop.slot_hours.where(day_of_the_week: "Lundi").each do |hour| %>
            <%= hour.opening_hour %>h -
            <%= hour.closing_hour %>h
          <% end %>
        <% end %>

        <% if shop.slot_hours.where(day_of_the_week: "Mardi").count == 1 %>
          <p>
            <%= shop.slot_hours.where(day_of_the_week: "Mardi")[0].day_of_the_week %> :
            <%= shop.slot_hours.where(day_of_the_week: "Mardi")[0].opening_hour %>h -
            <%= shop.slot_hours.where(day_of_the_week: "Mardi")[0].closing_hour %>h
          </p>
        <% elsif shop.slot_hours.where(day_of_the_week: "Mardi").count == 2 %>
          <%= shop.slot_hours.where(day_of_the_week: "Mardi")[0].day_of_the_week %> :
          <% shop.slot_hours.where(day_of_the_week: "Mardi").each do |hour| %>
            <%= hour.opening_hour %>h -
            <%= hour.closing_hour %>h
          <% end %>
        <% end %>

        <% if shop.slot_hours.where(day_of_the_week: "Mercredi").count == 1 %>
          <p>
            <%= shop.slot_hours.where(day_of_the_week: "Mercredi")[0].day_of_the_week %> :
            <%= shop.slot_hours.where(day_of_the_week: "Mercredi")[0].opening_hour %>h -
            <%= shop.slot_hours.where(day_of_the_week: "Mercredi")[0].closing_hour %>h
          </p>
        <% elsif shop.slot_hours.where(day_of_the_week: "Mercredi").count == 2 %>
          <%= shop.slot_hours.where(day_of_the_week: "Mercredi")[0].day_of_the_week %> :
          <% shop.slot_hours.where(day_of_the_week: "Mercredi").each do |hour| %>
            <%= hour.opening_hour %>h -
            <%= hour.closing_hour %>h
          <% end %>
        <% end %>

        <% if shop.slot_hours.where(day_of_the_week: "Jeudi").count == 1 %>
          <p>
            <%= shop.slot_hours.where(day_of_the_week: "Jeudi")[0].day_of_the_week %> :
            <%= shop.slot_hours.where(day_of_the_week: "Jeudi")[0].opening_hour %>h -
            <%= shop.slot_hours.where(day_of_the_week: "Jeudi")[0].closing_hour %>h
          </p>
        <% elsif shop.slot_hours.where(day_of_the_week: "Jeudi").count == 2 %>
          <%= shop.slot_hours.where(day_of_the_week: "Jeudi")[0].day_of_the_week %> :
          <% shop.slot_hours.where(day_of_the_week: "Jeudi").each do |hour| %>
            <%= hour.opening_hour %>h -
            <%= hour.closing_hour %>h
          <% end %>
        <% end %>

        <% if shop.slot_hours.where(day_of_the_week: "Vendredi").count == 1 %>
          <p>
            <%= shop.slot_hours.where(day_of_the_week: "Vendredi")[0].day_of_the_week %> :
            <%= shop.slot_hours.where(day_of_the_week: "Vendredi")[0].opening_hour %>h -
            <%= shop.slot_hours.where(day_of_the_week: "Vendredi")[0].closing_hour %>h
          </p>
        <% elsif shop.slot_hours.where(day_of_the_week: "Vendredi").count == 2 %>
          <%= shop.slot_hours.where(day_of_the_week: "Vendredi")[0].day_of_the_week %> :
          <% shop.slot_hours.where(day_of_the_week: "Vendredi").each do |hour| %>
            <%= hour.opening_hour %>h -
            <%= hour.closing_hour %>h
          <% end %>
        <% end %>

        <% if shop.slot_hours.where(day_of_the_week: "Samedi").count == 1 %>
          <p>
            <%= shop.slot_hours.where(day_of_the_week: "Samedi")[0].day_of_the_week %> :
            <%= shop.slot_hours.where(day_of_the_week: "Samedi")[0].opening_hour %>h -
            <%= shop.slot_hours.where(day_of_the_week: "Samedi")[0].closing_hour %>h
          </p>
        <% elsif shop.slot_hours.where(day_of_the_week: "Samedi").count == 2 %>
          <%= shop.slot_hours.where(day_of_the_week: "Samedi")[0].day_of_the_week %> :
          <% shop.slot_hours.where(day_of_the_week: "Samedi").each do |hour| %>
            <%= hour.opening_hour %>h -
            <%= hour.closing_hour %>h
          <% end %>
        <% end %>

        <% if shop.slot_hours.where(day_of_the_week: "Dimanche").count == 1 %>
          <p>
            <%= shop.slot_hours.where(day_of_the_week: "Dimanche")[0].day_of_the_week %> :
            <%= shop.slot_hours.where(day_of_the_week: "Dimanche")[0].opening_hour %>h -
            <%= shop.slot_hours.where(day_of_the_week: "Dimanche")[0].closing_hour %>h
          </p>
        <% elsif shop.slot_hours.where(day_of_the_week: "Dimanche").count == 2 %>
          <%= shop.slot_hours.where(day_of_the_week: "Dimanche")[0].day_of_the_week %> :
          <% shop.slot_hours.where(day_of_the_week: "Dimanche").each do |hour| %>
            <%= hour.opening_hour %>h -
            <%= hour.closing_hour %>h
          <% end %>
        <% end %>
      </div>
    </div>
</div>

        </div>
    <% end %>

  </div>

<!--------------------- ASTUCE FOOTER --------------------->
<div class="content-wrapper-index">
</div>
