<div class="justify-content-center container"><br>
  <% if params[:query].present? %>
    <h4><strong><span id="important"><%= @shops.count %></span></strong> <%= params[:query] %>(s) à côté de chez toi</h4>
  <% else %>
    <h4><strong><span id="important"><%= @shops.count %></span></strong> commerce(s) à côté de chez toi</h4>
  <% end %>
</div>

<% @shops.each do |shop| %>
  <%= link_to shop_path(shop.id), class: "card" do %>
  <%# <div class="card"> %>
    <%= cl_image_tag shop.photo.key %>
    <div class="card-infos">
      <div>
        <h2><%= shop.name %></h2>
        <p>Catégorie : <%= shop.category %></p>
        <h3 class="card-distance">300m</h3>
      </div>
    </div>
  <% end %>
<% end %>
