<div class="container-index">
  <h4>Trouve ton commerçant</h4>
  <div>
    <%= form_tag shops_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-search",
        placeholder: "Traiteur, boulangerie..."
      %>
      <%= submit_tag "Go !", class: "btn btn-secondary btn-home-search" %>
    <% end %>
  </div>
</div>

<div class="container-infos"><br>
  <% if params[:query].present? %>
    <h4><strong><span id="important"><%= @shops.count %></span></strong> <%= params[:query] %>(s) à côté de chez toi</h4>
  <% else %>
    <h4><strong><span id="important"><%= @shops.count %></span></strong> commerce(s) à côté de chez toi</h4>
  <% end %>
</div>

<div class="index-shop-cards">
  <% @shops.each do |shop| %>
    <%= link_to shop_path(shop.id), class: "card" do %>
    <%# <div class="card"> %>
      <%= cl_image_tag shop.photo.key %>
      <div class="shop-card-infos">
        <div class="card-shop-name">
          <h2><%= shop.name %> <span style="decoration: none; color: #ffd700; font-size: 18px"> <%= icon('fas','star') %><%= shop.average_rate %></span></h2>
          <p class="btn btn-ghost"><%= shop.category.gsub(/_/,' ') %></p>
        </div>
        <div class="card-shop-distance">
          <h3 class="card-distance"><%= rand(50..900)%> m</h3>
        </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!--------------------- ASTUCE FOOTER --------------------->
<div class="content-wrapper-index">
</div>
