<div class="container shop-show-title">
    <h2 id="shop-title"> <%= @shop.name %> </h1>
    <h3 id="shop-address"> <%= @shop.address %> </h2>
</div>


<div class="container description-card">

    <%= cl_image_tag @shop.photo.key, class: "shop-show-big-image" %>
    <p> <%= @shop.description %> </p>
    <div class="sub-show-card">
        <p id="categorie-shop" > Catégorie : <%= @shop.category %> </p>
        <p> Ouvert, ferme à <p>
        <div class="sub-card-button">
            <i class="fas fa-solid fa-star"></i>
            <%
=begin%>
 <button type="button" class="">Réserver</button>
<%
=end%>
            <%= link_to "Réserver", shop_rentals(@shop.id), class: "btn btn-info" %>
        </div>
        <%# <div class="shop-menu">
          <% @menus.each do |menu| %>
            <%# <%= @menu.name %>
          <%# <% end %>
        <%# </div> %>
    </div>
</div>
