<div class="container shop-show-title">
    <h2 id="shop-title"> <%= @shop.name %> </h2>
    <h3 id="shop-address"> <%= @shop.address %> </h3>
</div>


    <%= simple_form_for([@shop, @rental], method: "post") do |f| %>
      <%= f.input :status %>
      <%= f.submit %>
    <% end %>


<div class="container description-card">

    <%= cl_image_tag @shop.photo.key, class: "shop-show-big-image" %>
    <p> <%= @shop.description %> </p>
    <div class="sub-show-card">
        <p id="categorie-shop" > Catégorie : <%= @shop.category %> </p>
          <div class="card-menu-list">
            <h3 id="menu-show">Menu:</h3>
            <form action="/shops/<%= @shop.id %>/rentals" method="post" id="new_rental">
            <ul>
              <% @menus.each do |menu| %>
              <div class="card-menu-show">
                <div class="card-menu-show-text-align">
                  <p class="name-card-menu-show"><%= menu.name %></p>
                  <p class="price-card-menu-show"><%= menu.price.to_f %></p>
                  <a class="btn btn-link" href="#" data-toggle="collapse" data-target="#target<%= menu.id %>">
                      Plus d'information
                  </a>
                  <div id="target<%= menu.id %>" class="collapse">
                    <p class="description-card-menu-show"><%= menu.description %></p>
                    <div data-controller="insert-in-list" data-id="<%= menu.id %>">
                      <div class='ctrl'>
                        <div class='ctrl__button ctrl__button--decrement' data-insert-in-list-target="form_less" data-action="click->insert-in-list#less">&ndash;</div>
                        <div class='ctrl__counter'>
                          <input class='ctrl__counter-input' maxlength='10' type='text' value='0' data-insert-in-list-target="items" name="rental[menus][<%= menu.id %>]">
                        </div>
                        <div class='ctrl__button ctrl__button--increment' data-insert-in-list-target="form_more" data-action="click->insert-in-list#more">+</div>
                      </div>
                      <input type="hidden" name="authenticity_token" data-insert-in-list-target="tokenField">
                    </div>
                  </div>
                </div>
                <%= image_tag "boulangerie.jpg", size: "112x112", class: "picture_menu_show" %>
              </div>
              <br>
            <% end  %>
            </ul>
          </div>

        <div class="sub-card-button">
            <%# <%= link_to "Réserver", shop_rentals_path(@shop.id), method: :post, class: "btn btn-info" %> %>
            <input type="submit" value="Réserver">
        </div>
        </form>
    </div>
</div>

<h2 id="commercant-title-similaire">Commerçants similaires</h2>
<div class="commercant-similaire-carousel">
  <% @similar_shops.each do |shop| %>
    <div class="card-commercant-similaire">
      <%= cl_image_tag shop.photo.key, class: "shop-show-big-image" %>
      <h4 id="shop-title-commercant"> <%= shop.name %> </h4>
      <p id="shop-description-commercant"> <%= shop.description %> </p>
      <p id="categorie-commercant" > Catégorie : <%= @shop.category %> </p>
      <%# <p id="couleur-heure"> Ouvert, ferme à <p> %>
    </div>
  <% end %>
</div>
