<div class="container shop-show-title">
    <h2 id="shop-title"> <%= @shop.name %> </h1>
    <h3 id="shop-address"> <%= @shop.address %> </h2>
</div>


<div class="container description-card">
    <%= image_tag "resto_tmp.jpg", class: "shop-show-big-image" %>
    <p> <%= @shop.description %> </p>
    <div class="sub-show-card">
        <p id="categorie-shop" > Catégorie : <%= @shop.category %> </p>
        <p> Ouvert, ferme à <p>
        <div class="sub-card-button">
            <i class="fas fa-solid fa-star"></i>
            <button type="button" class="btn btn-info">Réserver</button>
        </div>
    </div>
</div>
