<div class="container-dashboard">

    <div class="header-dashboard">
      <div id="image-header-dashboard">
        <% if current_user %>
          <%= image_tag current_user.image_url, class: "user-picture" %>
        <% end %>
      </div>
      <div class="text-header-dashboard">
        <h1 style="font-size: 24px; margin-left: 15px;font-weight: 700;"> <span style="color: #329190;"> Ton statut : </span><%= @user.status.gsub(/_/,' ') %></h1>
        <h2 style="font-size: 20px; margin-left: 15px; color:#B1E4E3; font-weight: 700;">Consignes en cours : <%= @total %><h2>
      </div>
    </div>

    <div class="menu-dashboard-statut">
      <ul>
        <li id="encours">En cours</li><span class="-count"><%= @total %></span>
        <li id="rendu"> Rendu </li>
        <li id="paye"> Payé </li>
      </ul>
    </div>

    <div class="tab-content" id="pills-tabContent" >
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <h2 id="dash-menu-info-text"> Détails des consignes en cours</h2>
            <div class="big-div-shops">
                <div class="aligner">
                    <% @actuals.each do |actual| %>
                    <div class="number-consigne-span"><%= actual.total_of_box %></div>
                        <div class="dash-card">
                            <div class="div-shop-item dash-shop-pic">
                                <%= cl_image_tag actual.shop.photo.key, :transformation=>[
                                {:gravity=>"face", :height=>500, :width=>400, :crop=>"crop"},
                                {:radius=>"50"},
                                {:width=>100, :crop=>"scale"}
                                ] %>
                            </div>
                            <div class="div-shop-item">
                                <h4 class="nom-restaurant-dashboard" style="font-weight: 600"><%= actual.shop.name %></h4>
                                <p>Nombre de consignes: <%= actual.total_of_box %></p>
                                <p>A rendre avant le: <%= actual.rental_time_end %></p>
                                <div class="button-dashboard-card">
                                    <div id="button-fiche">
                                    <%= link_to "Voir la fiche", shops_path, class: "btn btn-info dash-info-button" %>
                                    </div>
                                    <div id="button-comment">
                                    <%= link_to "Mettre un commentaire", new_rating_path, class: "btn btn-info dash-comment-button" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <h2> Détails des consignes rendues</h2>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <h2> Détails des consignes payées</h2>
        </div>
    </div>
</div>
