<div class="container search-home">
  <div class="item-home">
    <div>
      <%= image_tag "REMPIL-couleur.png", class: "logo-home" %>
      <p>La consigne près de chez toi</p>
    </div>
    <div>
      <%= image_tag current_user.image_url, class: "user-picture" %>
    </div>
  </div>
  <div>
    <br><h2>Bonjour <%= @user.name %> !</h2>
    <p><span style="color: #FFBD36"><strong><%= @user.address %> </strong></span><span class="url-modifier"> Tu n'es pas là ?</span> </p>
    <%# <%= link_to 'Modifier', edit_user_path(user), class: "url-modifier" %>
  </div>
</div>
