<div class="container search-home">
  <div class="item-home">
    <div>
      <%= image_tag "REMPIL-couleur.png", class: "logo-home" %>
      <p>La consigne près de chez toi</p>
    </div>
    <div>
      <%= image_tag current_user.image_url, class: "user-picture" %>
    </div>
  </div>
  <div>
    <br><h2>Bonjour <%= @user.name %> !</h2>
    <p><span style="color: #FFBD36">Ton adresse : <strong><%= @user.address %> </strong></span><span class="url-modifier"> Modifier</span> </p>
    <%# <%= link_to 'Modifier', edit_user_path(user), class: "url-modifier" %>
    <p>Trouve ton commerçant partenaire</p>
    <div>
      <%= form_tag shops_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-search",
          placeholder: "Traiteur, boulangerie..."
        %>
        <%= submit_tag "Rechercher", class: "btn btn-secondary btn-home-search" %>
      <% end %>
    </div>
  </div>
</div>
